{% extends 'base.html' %}

{% block title %}
    Listado de observaciones
{% endblock %}

{% block content %}

    <h1>Listado de observaciones de pacientes</h1>
    <h2>Crear nueva observacion </h2> <a href="/observations/create-observation" class="btn btn-primary">Crear</a>

    {% for observation in observations %}


        <div class="card" style="width: 18rem;">
            <h3 style="color: rgb(24, 24, 28);" class="card-text">DNI :{{observation.dni }}</h3>
            <p class="card-text"> Observaciones : {{observation.observations}}</p>
            
            
        
            </div>
        </div>



    {% endfor %}

{% endblock %}